* {
    border: 1px solid red;
}

img {
    width: auto;
    height: 100%;
    position: relative;
    object-fit: cover;
    /* object-position: 50% 50%;; */
}

div#content {
    display: flex;
    flex-wrap: wrap;
}

div.result {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    overflow: hidden;
    /* text-indent: -25%; */
}

/* figure {
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin #c5c3c6 solid;
    margin: 0.5em;
    padding: 0.5em;
} */