/* It starts completely empty. I wish you luck. */

* {
    border: 1px solid red;
}

#wrapper {
    display: grid;
    grid-template-areas: "logo" "menu" "intro" "playground" "footer";
}

h1.game {
    grid-area: logo;
    width: 500px;
    height: 345px;
    background: url(/images/tetris-logo.png) no-repeat;
    text-indent: -9999px;
}

ul.menu {
    grid-area: menu;
}

#introduction {
    grid-area: intro;
    margin: 2rem;
}

#tetgrid {
    grid-area: playground;
}

footer {
    grid-area: footer;
}

@media only screen and (min-width: 850px) {
    #wrapper {
        grid-template-areas: "logo       intro" "menu       menu" "playground playground" "footer     footer";
        grid-template-columns: 500px 1fr;
        grid-template-rows: 345px auto;
    }
}